<div class="col l10 m9 s12">
  <div class="gallery-tings">
  <div class="row">
    <div class="col m12">
      <div class="galery-heading gallery-search">
      <a href="gallery-tings">< Back</a>
        <h2>Gallery of Tings</h2>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col l4 m12 s12">
        <div class="field-box">
         <div class="input-field-box">
            <input type="text" name="information" value="" placeholder="Enter field information">
         </div>
         <div class="field-list-items">
            <ul>
               <li>Language</li>
               <li>Classification</li>
               <li>Description</li>
               <li>Manufacturer</li>
               <li>Language</li>
               <li>Classification</li>
               <li>Description</li>
               <li>Manufacturer</li>
               <li>Language</li>
               <li>Classification</li>
               <li>Description</li>
               <li>Manufacturer</li>
            </ul>
         </div>
         <div class="create-field-btn">
            <button>Clear All</button>
         </div>
        </div> 
      </div>
      <div class="col l8 m12 s12">
        <div class="row">
          <div class="col m3 s6">
            <a>
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3 s6">
            <a >
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3 s6">
            <a >
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3 s6">
            <a >
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col m3 s6">
            <a >
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3 s6">
            <a >
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3 s6">
            <a >
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3 s6">
            <a >
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>