<div class="col l10 m9 s12">
    <div class="gallery-tings my-settings-page">
      <div class="row">
        <div class="col m12">
          <div class="galery-heading">
            <h2>My Settings</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col l4 m6 s12">
          <div class="user-profile-box">
            <div class="row m-0">
              <div class="col l4 m6 s4">
                <div class="user-profile-pic">
                  <p>User Photo</p>
                  <img src="../../../../assets/images/user-image.png">
                </div>
              </div>
              <div class="col l8 m6 s8">
                <div class="user-profile-photo">
                  <div class="upload-btn-wrapper">
                    <button class="file-btn">Update Photo</button>
                    <input type="file" name="myfile" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col l3 m3">
          <div class="setting-list-dark">
            <ul>
              <li>User Name</li>
              <li>Payment Details</li>
              <li>Subscription</li>
              <li>Default Web Service Engine</li>
            </ul>
          </div>
        </div>
        <div class="col l3 m3">
          <div class="setting-list-light">
            <ul>
              <li>John Doe</li>
              <li>Mastercard, *2464</li>
              <li>Plus</li>
              <li>Safari</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col l4 m6 s12">
          <div class="row">
            <div class="col m6 s6" (click)="onUpdateDetail()">
              <div class="tag-camera" >
                 <a >Update Details</a>
              </div>
            </div>
            <div class="col m6 s6">
              <div class="update-pass">
                 <a (click)="onUpdatePassword()">Update Password</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>