<div class="col l10 m9 s12">
  <div class="gallery-tings">
    <div class="row">
      <div class="col m12">
        <div class="galery-heading properties">
          <h2>Ting Properties</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col l6 m12 s12">
        <div class="properties-table">
          <table class="none-border">
            <thead>
              <tr>
                  <th>Field</th>
                  <th>Entry</th>
                  <th>Locked</th>
                  <th>Pin</th>
              </tr>
            </thead>

            <tbody>
              <tr >
                <td>Class</td>
                <td>Pump</td>
                <td>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" />
                      <span></span>
                    </label>
                  </p>
                </td>
                <td>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span></span>
                    </label>
                  </p>
                </td>
              </tr>
              <tr>
                <td>Make</td>
                <td>Gianneschi</td>
                <td>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" />
                      <span></span>
                    </label>
                  </p>
                </td>
                <td>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span></span>
                    </label>
                  </p>
                </td>
              </tr>
              <tr>
                <td>Model</td>
                <td>SL</td>
                <td>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" />
                      <span></span>
                    </label>
                  </p>
                </td>
                <td>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span></span>
                    </label>
                  </p>
                </td>
              </tr>
              <tr>
                <td>Type</td>
                <td>FF1234</td>
                <td>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" />
                      <span></span>
                    </label>
                  </p>
                </td>
                <td>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span></span>
                    </label>
                  </p>
                </td>
              </tr>
              <tr>
                <td>DOB</td>
                <td>12/1/18</td>
                <td>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" />
                      <span></span>
                    </label>
                  </p>
                </td>
                <td>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span></span>
                    </label>
                  </p>
                </td>
              </tr>
              <tr>
                <td>Description</td>
                <td>Bilge pump fwd</td>
                <td>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" />
                      <span></span>
                    </label>
                  </p>
                </td>
                <td>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span></span>
                    </label>
                  </p>
                </td>
              </tr>
              <tr>
                <td>Language</td>
                <td>English</td>
                <td>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" />
                      <span></span>
                    </label>
                  </p>
                </td>
                <td>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span></span>
                    </label>
                  </p>
                </td>
              </tr>
              <tr>
                <td>Serial #</td>
                <td>12345</td>
                <td>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" />
                      <span></span>
                    </label>
                  </p>
                </td>
                <td>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span></span>
                    </label>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="gallery-add-item">
         <div class="row">
           <div class="col m6 s4">
             <div class="dropdwon-gallery-num">
               <select>
                 <option>1</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
                 <option>5</option>
                 <option>6</option>
                 <option>7</option>
                 <option>8</option>
                 <option>9</option> 
               </select>
             </div>
           </div>
           <div class="col m3 s4">
              <div class="tag-camera">
                 <a routerLink="/home/my-tings/gallery-tings">Gallery</a>
              </div>
           </div>
           <div class="col m3 s4">
             <div class="gallery-items">
               <button type="button" data-target="add-item" class="modal-trigger">+ Add Item</button>
             </div>
           </div>
         </div>
        </div>
        
      </div>
      <div class="col l6 m12 s12">
        <div class="gallery-detail-right">
          <div class="col m4 s6">
            <a href="#Image-preview" class="waves-effect waves-light modal-trigger">
              <div class="gallery-image-widget">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col m8 s12">
            <div class="gallery-tags">
              <div class="tag-title left">
                <p>tags</p>
              </div>
              <div class="tags-show right">
                <ul>
                  <li>
                    <p>
                      <label>
                        <input name="show-hide" type="radio" (click)="onHide()"/>
                        <span>Hide</span>
                      </label>
                    </p>
                  </li>
                  <li>
                    <p>
                      <label>
                        <input name="show-hide" type="radio" checked (click)="onShow()" />
                        <span>Show</span>
                      </label>
                    </p>
                  </li>
                </ul>
              </div>
              <div class="tag-box" *ngIf="toggleTagList">
                <ul>
                  <li>tag list 123</li>
                  <li>tag list 123</li>
                  <li>tag list 123</li>
                  <li>tag list 123</li>
                  <li>tag list 123</li>
                  <li>tag list 123</li>
                  <li>tag list 123</li>
                  <li>tag list 123</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col l6 m12 s12">
        <div class="gallery-doc-list">
          <ul>
            <li>Content 1</li>
            <li>Document</li>
            <li>Manual.pdf</li>
            <li>2.7MB</li>
            <li><img src="../../../../assets/images/gallery-image.png"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col l6 m12 s12">
        <div class="gallery-doc-list">
          <ul>
            <li>Content 2</li>
            <li>Picture</li>
            <li>Front.jpg</li>
            <li>2.7MB</li>
            <li><img src="../../../../assets/images/gallery-image.png"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure of Add item-->
<div id="add-item" class="modal gallery-item-model">
  <div class="my-ting-heading">
      <h3>Add Item</h3>
      <a class="modal-close close-wizard"><img src="../../../../assets/images/close.png"></a>
  </div>
  <div class="modal-content my-ting-content">
    <div class="row">
      <div class="col m3 s6">
        <div class="add-item-image">
          <img src="../../../../assets/images/gallery-image.png">
        </div>
      </div>
      <div class="col m3 s6">
        <div class="gallery-img-desc">
          <div class="left">
            <p>Class</p>
            <p>DOB</p>
          </div>
          <div class="right">
            <p>Pump</p>
            <p>12/1/18</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col m7 s12">
          <div class="drag-image">
             <p>Drag a photo here</p>
             <span>or.</span>
             <div class="row">
                <div class="col m6 s12">
                   <div class="tag-camera">
                      <a>Add From Gallery</a>
                   </div>
                </div>
                <div class="col m6 s12">
                   <div class="tag-camera">
                      <a>Add From Camera</a>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col m5 s12">
          <div class="add-image-display" *ngFor="let item of items; let i = index">
             <div class="image-diaply">
                <img [src]="item.img">
             </div>
             <div class="image-display-desc">
                <span>{{item.name}}</span>
                <img src="../../../../assets/images/close-small.png" (click)="onClose(i)">
                <div class="progress">
                     <div class="determinate" style="width: 60%"></div>
                 </div>
             </div>
          </div>
       </div>
    </div>
    <div class="row">
      <div class="col m3 s8">
        <div class="tag-camera">
          <a>From Memory</a>
        </div>
      </div>
      <div class="col m2 s4">
        <div class="tag-camera">
          <a>Wiki</a>
        </div>
      </div>
      <div class="col m3 s8">
        <div class="tag-camera">
          <a>Internet Search</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m12 s12">
        <div class="tag-footer">
           <div class="continue-btn">
              <button>Finish and Back</button>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure of Image Preview-->
<div id="Image-preview" class="modal gallery-item-model">
  <div class="my-ting-heading">
      <h3>Front.jpg</h3>
      <a class="modal-close close-wizard"><img src="../../../../assets/images/close.png"></a>
  </div>
  <div class="modal-content my-ting-content">
    <div class="row">
      <div class="col m12 s12">
        <div class="main-image-preview">
          <img src="../../../../assets/images/gallery-image.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m2 s12">
        <div class="edit-wiki">
          <button type="button">Edit Wiki</button>
        </div>
      </div>
      <div class="col m4">
        
      </div>
      <div class="col m3 s12">
        <div class="delete-image">
          <button type="button" data-target="confirm-delete" class="modal-trigger">Delete</button>
          <!-- Modal Structure of Image delete confirm-->
          <div id="confirm-delete" class="modal delete-confirm">
            <div class="my-ting-heading">
                <h3>Deleting item</h3>
                <button type="button" class="close-wizard" onclick="$('#confirm-delete').modal('close');"><img src="../../../../assets/images/close.png"></button>
            </div>
            <div class="modal-content my-ting-content">
              <div class="confirm-delete-inner">
                <p>Are you sure you want to delete this item?</p>
                <button type="button" class="cancel-btn" onclick="$('#confirm-delete').modal('close');">Cancel</button>
                <button type="button" class="delete-btn" onclick="$('#confirm-delete').modal('close');" (click)="onDelete()">Delete</button>
              </div>
            </div>
          </div>
          <!-- Modal Structure of Image delete confirm-->
        </div>
      </div>
      <div class="col m3 s12">
        <div class="download-image">
          <button type="button" (click)="onDownload()">Download</button>
        </div>
      </div>
    </div>
  </div>
</div>
