<div class="col l2 m3 s12">
  <div class="main-sidebar">
    <div class="logo">
      <img src="../../../assets/images/logo.png">
    </div>
    <div class="mobile-logo">
      <img src="../../../assets/images/small-logo.png">
    </div>
    <div class="sidebar-navbar">
      <ul>
        <li class="SB-MyTing" [class.active]="activeClass === 'tings'" (click)="activeClass = 'tings'">
          <a routerLink="/home/my-tings">
          <span>My Tings</span>
          </a>
        </li>
        <li class="SB-Media" [class.active]="activeClass === 'groups'" (click)="activeClass = 'groups'">
          <a routerLink="/home/my-groups">
          <span>My Groups</span>
          </a>
        </li>
        <li class="SB-Setting" [class.active]="activeClass === 'settings'" (click)="activeClass = 'settings'">
          <a routerLink="/home/my-settings">
          <span>My Settings</span>
          </a>
        </li>
        <li class="SB-Label" [class.active]="activeClass === 'fields'" (click)="activeClass = 'fields'">
          <a routerLink="/home/my-fields">
          <span>My Fields</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
