<div class="col l10 m9 s12">
  <div class="dashboard">
    <div class="row">
      <div class="col l10 m8 s6">
        <div class="galery-heading gallery-search">
          <h2>Tings</h2>
        </div>
      </div>
      <div class="col l2 m4 s6">
        <div class="add-invitation-link">
          <a href="javascript:" data-target="add-ting" class="modal-trigger">Add Ting</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m12 s12">
        <div class="request-table accounts">
          <table>
            <thead>
              <tr>
                  <th></th>
                  <th>Name</th>
                  <th>DOB</th>
                  <th>Tags</th>
                  <th></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1</td>
                <td>A/C unit</td>
                <td>2017-08-03</td>
                <td>2 tags leading here</td>
                <td><div class="go-to"><a href="rolling-demo">Go to</a></div></td>
              </tr>
              <tr>
                <td>2</td>
                <td>DemoTing MYS</td>
                <td>2017-09-09</td>
                <td>one tag leading here: 90f83a41</td>
                <td><div class="go-to"><a href="rolling-demo">Go to</a></div></td>
              </tr>
              <tr>
                <td>3</td>
                <td>ROLLING DEMO</td>
                <td>2017-09-09</td>
                <td>no tags leading here</td>
                <td><div class="go-to"><a href="#">Go to</a></div></td>
              </tr>
              <tr>
                <td>4</td>
                <td>A/C unit</td>
                <td>2017-08-03</td>
                <td>2 tags leading here</td>
                <td><div class="go-to"><a href="#">Go to</a></div></td>
              </tr>
              <tr>
                <td>1</td>
                <td>A/C unit</td>
                <td>2017-08-03</td>
                <td>2 tags leading here</td>
                <td><div class="go-to"><a href="#">Go to</a></div></td>
              </tr>
              <tr>
                <td>2</td>
                <td>DemoTing MYS</td>
                <td>2017-09-09</td>
                <td>one tag leading here: 90f83a41</td>
                <td><div class="go-to"><a href="#">Go to</a></div></td>
              </tr>
              <tr>
                <td>3</td>
                <td>ROLLING DEMO</td>
                <td>2017-09-09</td>
                <td>no tags leading here</td>
                <td><div class="go-to"><a href="#">Go to</a></div></td>
              </tr>
              <tr>
                <td>4</td>
                <td>A/C unit</td>
                <td>2017-08-03</td>
                <td>2 tags leading here</td>
                <td><div class="go-to"><a href="#">Go to</a></div></td>
              </tr>
              <tr>
                <td>1</td>
                <td>A/C unit</td>
                <td>2017-08-03</td>
                <td>2 tags leading here</td>
                <td><div class="go-to"><a href="#">Go to</a></div></td>
              </tr>
              <tr>
                <td>2</td>
                <td>DemoTing MYS</td>
                <td>2017-09-09</td>
                <td>one tag leading here: 90f83a41</td>
                <td><div class="go-to"><a href="#">Go to</a></div></td>
              </tr>
              <tr>
                <td>3</td>
                <td>ROLLING DEMO</td>
                <td>2017-09-09</td>
                <td>no tags leading here</td>
                <td><div class="go-to"><a href="#">Go to</a></div></td>
              </tr>
              <tr>
                <td>4</td>
                <td>A/C unit</td>
                <td>2017-08-03</td>
                <td>2 tags leading here</td>
                <td><div class="go-to"><a href="#">Go to</a></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>