<div class="row">
    <div class="col l2 m3 s12">
      
    </div>
    <div class="col l10 m9 s12">
      <div class="main-header">
          <div class="col l9 m6 s2">
            <div class="nav-wrapper">
            <form>
            <a href="#" data-target="slide-out" class="sidenav-trigger mobile-sidebar"><i class="material-icons">menu</i></a>
            <ul id="slide-out" [class.sidenav]="sidenavClass">
              <div class="main-sidebar mobile-sidebar-inner dashboard-sidebar">
                <div class="logo">
                  <img src="../../../../assets/images/logo.png">
                </div>
                <div class="sidebar-navbar">
                  <ul >
                    <li class="active SB-Dashboard" [class.active]="activeClass === 'dashboard'" (click)="activeClass = 'dashboard'">
                      <a routerLink="/dashboard">
                      <span>Dashboard</span>
                      </a>
                    </li>
                    <li class="SB-MyTing" [class.active]="activeClass === 'tings'" (click)="activeClass = 'tings'">
                      <a routerLink="/dashboard/tings">
                      <span>Tings</span>
                      </a>
                    </li>
                    <li class="SB-Label" [class.active]="activeClass === 'tags'" (click)="activeClass = 'tags'">
                      <a routerLink="/dashboard/tags">
                      <span>Tags</span>
                      </a>
                    </li>
                    <li class="SB-Account" [class.active]="activeClass === 'accounts'" (click)="activeClass = 'accounts'">
                      <a routerLink="/dashboard/accounts">
                      <span>Accounts</span>
                      </a>
                    </li>
                    <li class="SB-Orgs" [class.active]="activeClass === 'orgs'" (click)="activeClass = 'orgs'">
                      <a routerLink="/dashboard/orgs">
                      <span>Orgs</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </ul>
            </form>
          </div>
          </div>
      </div>
    </div>
</div>