<app-admin-side-nav></app-admin-side-nav>
<div class="main-page">
    <div class="row">
        <div class="col l2 m3 s12">
            <div class="main-sidebar dashboard-sidebar">
        <div class="logo">
          <img src="../../../../assets/images/logo.png">
        </div>
        <div class="mobile-logo">
          <img src="../../../../assets/images/small-logo.png">
        </div>
        <div class="sidebar-navbar">
          <ul>
            <li class="active SB-Dashboard" class="active SB-Dashboard" [class.active]="activeClass === 'dashboard'" (click)="activeClass = 'dashboard'">
              <a routerLink="/dashboard">
              <span>Dashboard</span>
              </a>
            </li>
            <li class="SB-MyTing" [class.active]="activeClass === 'tings'" (click)="activeClass = 'tings'">
              <a routerLink="/dashboard/tings">
              <span>Tings</span>
              </a>
            </li>
            <li class="SB-Label" [class.active]="activeClass === 'tags'" (click)="activeClass = 'tags'">
              <a routerLink="/dashboard/tags">
              <span>Tags</span>
              </a>
            </li>
            <li class="SB-Account" [class.active]="activeClass === 'accounts'" (click)="activeClass = 'accounts'">
              <a routerLink="/dashboard/accounts">
              <span>Accounts</span>
              </a>
            </li>
            <li class="SB-Orgs" [class.active]="activeClass === 'orgs'" (click)="activeClass = 'orgs'">
              <a routerLink="/dashboard/orgs">
              <span>Orgs</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
