<div class="col l10 m9 s12">
  <div class="gallery-tings">
    <div class="row">
      <div class="col m12">
        <div class="galery-heading">
          <!-- <h2>My Groups</h2> -->
          <app-breadcrumb></app-breadcrumb>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col l7 m12 s12">
        <div class="row">
          <div class="col m4 s6" *ngFor="let group of groups">
            <a (click)="onGroupDetail(group)" class="my-group-box personal" (contextmenu)="onRightClick($event)">
              <img src="../../../../assets/images/default.png">
              <p>{{group.group}}</p>
              <span>(default)</span>
            </a>
            <div class="my-group-hide-box-personal" style="display: none;">
              <ul>
                <li><a href="#">Rename</a></li>
                <li><a href="#">Make Default</a></li>
                <li><a href="#" data-target="confirm-delete" class="modal-trigger">Delete</a></li>
              </ul>
            </div>
            <!-- Delete Model Structure -->  
              <div id="confirm-delete" class="modal delete-confirm delete-image">
                <div class="my-ting-heading">
                    <h3>Deleting group</h3>
                    <button type="button" class="close-wizard" onclick="$('#confirm-delete').modal('close');"><img src="../../../../assets/images/close.png"></button>
                </div>
                <div class="modal-content my-ting-content">
                  <div class="confirm-delete-inner">
                    <p>Are you sure you want to delete this group?</p>
                    <button type="button" class="cancel-btn" onclick="$('#confirm-delete').modal('close');">Cancel</button>
                    <button type="button" class="delete-btn">Delete</button>
                  </div>
                </div>
              </div>
              <!-- Delete Model Structure -->
          </div>
          <div class="col m4 s6">
            <div class="create-group-box">
              <a href="#add-group" class="modal-trigger">Create group</a>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <router-outlet></router-outlet>
  </div>
</div>


<!-- Move to Model Structure -->  
<div id="add-group" class="modal delete-confirm delete-image">
  <div class="my-ting-heading">
      <h3>Add Group</h3>
      <button type="button" class="close-wizard" onclick="$('#add-group').modal('close');"><img src="../../../../assets/images/close.png"></button>
  </div>
  <div class="modal-content my-ting-content">
    <div class="confirm-delete-inner move-to-inner">
      <form>
        <div class="custom-form">
           <input placeholder="" id="email" type="text" class="validate">
        </div>
      </form>
      <button type="button" class="cancel-btn" onclick="$('#add-group').modal('close');">Cancel</button>
      <button type="button" class="delete-btn">OK</button>
    </div>
  </div>
</div>
<!-- Move to Model Structure -->












