<div class="sign-in">
   
  <div class="row m-0">
     <div class="col m7 s12">
        <div class="signin-image-part">
           <!-- <img src="images/signin.jpeg"> -->
           <div class="signin-desc">
              <h2>technical information <br> at the point of use</h2>
              <ul>
                 <li><i class="fas fa-envelope"></i><a href="#">info@MyIDAT.com</a></li>
                 <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#">Tel: +44 20 3290 9280</a></li>
                 <li><i class="fas fa-map-marker-alt"></i>Falmouth, UK <span> Palma de Mallorca, Spain</span></li>
              </ul>
           </div>
        </div>
     </div>
     <div class="col m5 s12">
        <div class="right-signin">
           <div class="signup-button-desc">
              <p>Don't have an account yet?</p>
              <a href="#">Sign Up</a>
           </div>
           <div class="inner-singin-detail">
              <div class="singin-logo">
                 <img src="../../../../assets/images/logo.png">
              </div>
              <div class="signin-heading-desc">
                 <h3>Please enter new password</h3>
                 <p>Password should be:<br>
                   -Be At least 8 characters long<br>
                   -Contain at least one capital letter<br>
                   -Contain at least one number digit</p>
              </div>
              <div class="signin-form">
                 <form>
                      <div class="custom-form">
                         <label for="new-password">Create a new Password</label>
                         <input placeholder="6-12 characters" id="new-password" type="password" class="validate" maxlength="12" minlength="6">
                      </div>
                      <div class="custom-form">
                         <label for="repeat-password">Repeat new Password</label>
                         <input placeholder="6-12 characters" id="repeat-password" type="password" class="validate" maxlength="12" minlength="6">
                      </div>
                      <div class="signin-btn">
                         <input type="submit" name="SignIn" value="New Password">
                      </div>
                 </form>
              </div>
              <div class="signin-social">
                 <a href="#">Back to sign in page</a>
              </div>
           </div>
        </div>
     </div>
  
</div>
  
</div>