@media (max-width: 1300px){
	.search-box-complete .chkbx {
		margin: 0;
		padding-top: 15px;
		padding-left: 0;
	}
	
	}
	
	
	@media (max-width: 1200px){
	.chkbx span {
		padding-left: 25px !important;
	}
	
	}
	
	
	@media (max-width: 992px){
	
	.logout-dropdown .dropdown-content {
		top: 90px !important;
	}
	.main-sidebar {
		max-width: 25%;
	}
	.signup-button-desc p {
		display: none;
	}
	.signin-desc h2 {
		font-size: 30px;
		line-height: 40px;
	}
	.singin-logo {
		position: absolute;
		top: 10px;
	}
	.som-filter-box {
		margin-bottom: 30px;
	}
	.gallery-image-widget {
		margin-bottom: 20px;
	}
	.field-box {
		margin-bottom: 30px;
	}
	.my-ting-content .tag-camera a {
		margin-bottom: 20px;
	}
	.dashboard .go-to a {
		float: left;
	}
	}
	
	@media (max-width: 600px){
	
		
	.signup-image-part {
		display: none;
	}
	.mobile-sidebar {
		display: block;
		margin-top: 12px;
	}
	.main-header .nav-wrapper .input-field {
	   display: none;
	}
	.main-sidebar {
		display: none;
	}
	.main-sidebar.mobile-sidebar-inner {
		display: block;
		max-width: 100%;
	}
	.sidenav .mobile-sidebar-inner li a {
		height: 30px;
		line-height: 30px;
		padding: 0;
	}
	.sidenav .mobile-sidebar-inner li.active {
		background-color: transparent;
	}
	.sidenav .mobile-sidebar-inner li a:hover {
		background-color: transparent;
	}
	.add-tag .tag-camera a {
		margin-bottom: 15px;
	}
	.continue-btn button {
		width: 80%;
		margin: 0 auto;
		display: block;
		float: none;
		padding: 12px 0px;
	}
	.drag-image p, .drag-image span {
		display: none;
	}
	.drag-image .tag-camera a {
		width: 100%;
		margin: 0 auto;
		margin-top: 20px;
		max-width: 200px;
	}
	.drag-image {
		margin-bottom: 30px;
	}
	.my-ting-tabs .tabs .tab a {
		font-size: 12px;
	}
	.continue-btn a {
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
	.field-entries {
		margin-top: 30px;
	}
	.custom-radio-outer {
		border-left: none;
		border-right: none;
		border-top: 1px solid #E4EAEE;
		border-bottom: 1px solid #E4EAEE;
	}
	.edit-wiki button {
		max-width: 150px;
		margin: 0 auto;
		display: block;
		margin-bottom: 20px;
	}
	.delete-image button, .download-image button {
		max-width: 200px;
		margin: 0 auto;
		display: block;
		margin-bottom: 10px;
	}
	.gallery-doc-list ul li {
		max-width: 33%;
	}
	.signin-image-part {
		display: none;
	}
	.create-group-box {
		margin-top: 30px;
	}
	.move-to-box {
		width: 100%;
	}
	.move-to-box h2 {
		padding-left: 25px;
	}
	.move-to-box ul h2 {
		padding-left: 50px;
	}
	.move-to-inner ul li {
		padding: 7px 0px 7px 80px;
	}
	.move-to-inner .delete-btn {
		float: none;
		width: 80%;
	}
	.move-to-inner .cancel-btn {
		float: none;
		text-align: center;
	}
	.user-profile-box {
		margin-bottom: 20px;
	}
	.gallery-doc-list ul {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	}
	
	.gallery-doc-list ul li:first-child {
	  order: 1;
	  max-width: 50%;
	}
	.gallery-doc-list ul li:nth-child(2) {
	  order: 3;
	}
	.gallery-doc-list ul li:nth-child(3) {
	  order: 4;
	}
	.gallery-doc-list ul li:nth-child(4) {
	  order: 5;
	  border-right: none;
	}
	.gallery-doc-list ul li:nth-child(5) {
	  order: 2;
	  max-width: 50%;
	}
	.sidenav .mobile-sidebar-inner.dashboard-sidebar li a {
		height: 22px;
		line-height: 22px;
	}
	.logout-dashboard {
		height: 100px;
	}
	.my-ting-tabs .tabs .tab a {
		font-size: 10px;
		word-break: break-all;
		text-overflow: initial;
	}
	.my-ting-tabs .tabs .tab a span {
		display: block;
		height: 20px;
	}
	.tag-image {
		float: none;
		text-align: center;
	}
	.invitation-footer .cancel-btn {
		width: 100%;
		float: none;
		text-align: center;
		max-width: 100%;
	}
	.add-invitation button.right {
		max-width: 100%;
	}
	.screen-content {
		margin-top: 20px;
	}
	.my-ting-heading h3 {
		font-size: 20px;
	}
	}
	
	@media (max-width: 420px){
	.properties-table {
		overflow-y: hidden;
		overflow-x: scroll;
	}
	
	}
	