<div class="col l10 m9 s12">
  <div class="gallery-tings">
  <div class="row">
    <div class="col m12">
      <div class="galery-heading">
        <h2>Gallery of Tings</h2>
        <p>Search</p> 
      </div>
    </div>
  </div>
    
    <div class="row">
      <div class="col l6 m12 s12">
        <div class="row m-0">
          <div class="col m12 s12">
            <div class="search-box-complete">
              <div class="col m3 s6 checkbox-main">
                <p class="chkbx">
                  <label>
                    <input type="checkbox" />
                    <span>By class</span>
                  </label>
                </p>
                <p class="chkbx">
                  <label>
                    <input type="checkbox" />
                    <span>By DOB</span>
                  </label>
                </p>
              </div>
              <div class="col m3 s6 checkbox-main">
                <p class="chkbx">
                  <label>
                    <input type="checkbox" />
                    <span>Pinned</span>
                  </label>
                </p>
              </div>
              <div class="col m3 s12 custom-radio-outer">
                <div class="cstm-radio">
                  <p>
                    <label>
                      <input name="group1" type="radio" checked />
                      <span>Normal</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span>Reverse</span>
                    </label>
                  </p>
                </div>
              </div>
              <div class="col m3 s12 search-button-bg">
                <div class="search-button" (click)="onSearchTings()">
                  <a ><i class="fa fa-search" aria-hidden="true"></i>Search</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col l4 m12 s12">
        <div class="gallery-dropdown">
          <p>Level of access</p>
          <select>
            <option value="volvo">Level 1</option>
            <option value="saab">Level 2</option>
            <option value="mercedes">Level 3</option>
            <option value="audi">Level 4</option>
          </select>
        </div>
        <div class="some-filter">
          <span>Some Filter</span>
          <div class="som-filter-box">
            <div class="select-all-box">
              <button id="select-all" class="select-all left" (click)="onSelectAll()">Select All</button>
              <button id="clear-all" class="clear-all right" (click)="onClear()">Clear All</button>
            </div>
            <div class="inner-filter-box">
              <p>
                <label>
                  <input type="checkbox" name="checkall" />
                  <span>Cabin</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" name="checkall" />
                  <span>House</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" name="checkall" />
                  <span>MMS Bounty</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" name="checkall" />
                  <span>QE2</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" name="checkall" />
                  <span>Something Else</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" name="checkall" />
                  <span>Cabin</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" name="checkall" />
                  <span>House</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" name="checkall" />
                  <span>MMS Bounty</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" name="checkall" />
                  <span>QE2</span>
                </label>
              </p>
              <p>
                <label>
                  <input type="checkbox" name="checkall" />
                  <span>Something Else</span>
                </label>
              </p>
            </div>
          </div>


        </div>
      </div>
      <div class="col l8 m12 s12">
        <div class="row">
          <div class="col m3 s6">
            <a>
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3 s6">
            <a >
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3 s6">
            <a >
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3 s6">
            <a >
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col m3 s6">
            <a >
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3 s6">
            <a >
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3 s6">
            <a >
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col m3 s6">
            <a >
              <div class="gallery-image-widget" (click)="onTingDetail()">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>