<div class="sign-in">
   
  <div class="row m-0">
     <div class="col m7">
        <div class="signin-image-part">
           <!-- <img src="../../../../assets/images/signin.jpg"> -->
           <div class="signin-desc">
              <h2>technical information <br> at the point of use</h2>
              <ul>
                 <li><i class="fas fa-envelope"></i><a href="#">info@MyIDAT.com</a></li>
                 <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#">Tel: +44 20 3290 9280</a></li>
                 <li><i class="fas fa-map-marker-alt"></i>Falmouth, UK <span> Palma de Mallorca, Spain</span></li>
              </ul>
           </div>
        </div>
     </div>
     <div class="col m5">
        <div class="right-signin">
           <div class="signup-button-desc">
              <p>Don't have an account yet?</p>
              <a routerLink="../sign-up">Sign Up</a>
           </div>
           <div class="inner-singin-detail">
              <div class="singin-logo">
                 <img src="../../../../assets/images/logo.png">
              </div>
              <div class="signin-heading-desc">
                 <h3>Sign in to IDAT.</h3>
                 <p>Enter your details below.</p>
              </div>
              <div class="signin-form">
                 <form>
                      <div class="custom-form">
                         <label for="email">Email Address</label>
                         <input placeholder="example@gmail.com" id="email" type="email" class="validate">
                      </div>
                      <div class="custom-form">
                         <label for="password">Password</label>
                         <input placeholder="Enter your password" id="password" type="password" class="validate">
                      </div>
                      <div class="signin-btn">
                         <input type="submit" (click)="onSignIn()" name="SignIn" value="Sign In">
                      </div>
                 </form>
              </div>
              <div class="signin-social">
                 <a routerLink="../forget-password">Forgot Password?</a>
                 <div class="bg-line">
                    <p>Or sign in with</p>
                 </div>
              </div>
              <div class="row social-btns">
                 <div class="col m6 s6 right-align">
                    <a href="#">
                       <img src="../../../../assets/images/facebook-icon.png">
                    </a>
                 </div>
                 <div class="col m6 s6">
                    <a href="#">
                       <img src="../../../../assets/images/twitter-icon.png">
                    </a>
                 </div>
             </div>
           </div>
        </div>
     </div>
  
</div>
  
</div>