<header>
  <div class="row">
    <div class="col l2 m3 s12">
      
    </div>
    <div class="col l10 m9 s12">
      <div class="main-header">
    
          <div class="col l9 m6 s2">
            <div class="nav-wrapper">
            <form>
            <a href="javascript:" data-target="slide-out" class="sidenav-trigger mobile-sidebar"><i class="material-icons">menu</i></a>
            <ul id="slide-out" [class.sidenav]="sidenavClass">
              <div class="main-sidebar mobile-sidebar-inner">
                <div class="logo">
                  <img src="../../../assets/images/logo.png">
                </div>
                <div class="sidebar-navbar">
                  <ul>
                    <li class="SB-MyTing" [class.active]="activeClass === 'tings'" (click)="activeClass = 'tings'">
                      <a routerLink="/home/my-tings">
                      <span>My Tings</span>
                      </a>
                    </li>
                    <li class="SB-Media" [class.active]="activeClass === 'groups'" (click)="activeClass = 'groups'">
                      <a routerLink="/home/my-groups">
                      <span>My Groups</span>
                      </a>
                    </li>
                    <li class="SB-Setting" [class.active]="activeClass === 'settings'" (click)="activeClass = 'settings'">
                      <a routerLink="/home/my-settings">
                      <span>My Settings</span>
                      </a>
                    </li>
                    <li class="SB-Label" [class.active]="activeClass === 'fields'" (click)="activeClass = 'fields'">
                      <a routerLink="/home/my-fields">
                      <span>My Fields</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </ul>
              <div class="input-field">
                <input id="search" type="search" required placeholder="Search">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
          </div>
          <div class="col l3 m6 s10">
            <ul id="dropdown1" class="dropdown-content idat-dd-content">
              <li><a (click)="onLogout()"><i class="fas fa-power-off"></i>Log out</a></li>
            </ul>
            <div class="logout-dropdown">
              <a class="dropdown-trigger right" href="javascript:" data-target="dropdown1">
                <img src="../../../assets/images/user-pic.jpg">
                <span>
                  John Doe
                  <i class="material-icons right" (click)="toggleDropdown()">arrow_drop_down</i>
                </span>
                
              </a>
            </div>
            
         </div>
      </div>
    </div>
  </div>
</header>