<div class="col l10 m9 s12">
  <div class="logout-content dashboard">
    <div class="row">
      <div class="col m12 s12">
        <div class="logout-heading">
          <h2>Welcome to Admin Panel</h2>
        </div>
        <div class="logout-gallery">
          <a href="javascript:" data-target="sticker-pdf" class="modal-trigger">Make Stikers PDF</a>
        </div>
        <!-- Delete Model Structure -->  
        <div id="sticker-pdf" class="modal sticker-main delete-image">
          <div class="my-ting-heading">
              <h3>Make Stickers PDF</h3>
              <button type="button" class="close-wizard" onclick="$('#sticker-pdf').modal('close');"><img src="../../../../assets/images/close.png"></button>
          </div>
          <div class="modal-content my-ting-content">
            <div class="sticker-inner">
              <div class="row">
                <div class="col l1 m3 s6">
                  <div class="sticker-widget">
                    <h2>IDAT</h2>
                    <img src="../../../../assets/images/sticker.png">
                  </div>
                </div>
                <div class="col l1 m3 s6">
                  <div class="sticker-widget">
                    <h2>IDAT</h2>
                    <img src="../../../../assets/images/sticker.png">
                  </div>
                </div>
                <div class="col l1 m3 s6">
                  <div class="sticker-widget">
                    <h2>IDAT</h2>
                    <img src="../../../../assets/images/sticker.png">
                  </div>
                </div>
                <div class="col l1 m3 s6">
                  <div class="sticker-widget">
                    <h2>IDAT</h2>
                    <img src="../../../../assets/images/sticker.png">
                  </div>
                </div>
                <div class="col l1 m3 s6">
                  <div class="sticker-widget">
                    <h2>IDAT</h2>
                    <img src="../../../../assets/images/sticker.png">
                  </div>
                </div>
                <div class="col l1 m3 s6">
                  <div class="sticker-widget">
                    <h2>IDAT</h2>
                    <img src="../../../../assets/images/sticker.png">
                  </div>
                </div>
                <div class="col l1 m3 s6">
                  <div class="sticker-widget">
                    <h2>IDAT</h2>
                    <img src="../../../../assets/images/sticker.png">
                  </div>
                </div>
                <div class="col l1 m3 s6">
                  <div class="sticker-widget">
                    <h2>IDAT</h2>
                    <img src="../../../../assets/images/sticker.png">
                  </div>
                </div>
                <div class="col l1 m3 s6">
                  <div class="sticker-widget">
                    <h2>IDAT</h2>
                    <img src="../../../../assets/images/sticker.png">
                  </div>
                </div>
                <div class="col l1 m3 s6">
                  <div class="sticker-widget">
                    <h2>IDAT</h2>
                    <img src="../../../../assets/images/sticker.png">
                  </div>
                </div>
                <div class="col l1 m3 s6">
                  <div class="sticker-widget">
                    <h2>IDAT</h2>
                    <img src="../../../../assets/images/sticker.png">
                  </div>
                </div>
                <div class="col l1 m3 s6">
                  <div class="sticker-widget">
                    <h2>IDAT</h2>
                    <img src="../../../../assets/images/sticker.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete Model Structure -->
      </div>
    </div>
  </div>
</div>