<div class="sign-in">
   
  <div class="row m-0">
     <div class="col m7 s12">
        <div class="signin-image-part">
           <!-- <img src="images/signin.jpeg"> -->
           <div class="signin-desc">
              <h2>technical information <br> at the point of use</h2>
              <ul>
                 <li><i class="fas fa-envelope"></i><a href="#">info@MyIDAT.com</a></li>
                 <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#">Tel: +44 20 3290 9280</a></li>
                 <li><i class="fas fa-map-marker-alt"></i>Falmouth, UK <span> Palma de Mallorca, Spain</span></li>
              </ul>
           </div>
        </div>
     </div>
     <div class="col m5 s12">
        <div class="right-signin">
           <div class="signup-button-desc">
              <p>Don't have an account yet?</p>
              <a routerLink="../sign-up">Sign Up</a>
           </div>
           <div class="inner-singin-detail">
              <div class="singin-logo">
                 <img src="../../../../assets/images/logo.png">
              </div>
              <div class="signin-heading-desc">
                 <h3>Forgot Password?</h3>
                 <p>Enter your email address below in order to reset it</p>
              </div>
              <div class="signin-form">
                 <form>
                      <div class="custom-form">
                         <label for="email">Email Address</label>
                         <input placeholder="example@gmail.com" id="email" type="email" class="validate">
                      </div>
                      <div class="signin-btn">
                         <input type="submit" name="SignIn" value="Send a reset link" (click)="onResetLink()">
                      </div>
                 </form>
              </div>
              <div class="signin-social">
                 <a routerLink="../sign-in">Back to sign in page</a>
              </div>
           </div>
        </div>
     </div>
  
</div>
  
</div>