<div class="sign-up">
   
  <div class="row m-0">
     <div class="col m7 s12">
        <div class="signup-image-part">
           <!-- <img src="images/signin.jpeg"> -->
           <div class="signin-desc">
              <h2>technical information <br> at the point of use</h2>
              <ul>
                 <li><i class="fas fa-envelope"></i><a href="#">info@MyIDAT.com</a></li>
                 <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#">Tel: +44 20 3290 9280</a></li>
                 <li><i class="fas fa-map-marker-alt"></i>Falmouth, UK <span> Palma de Mallorca, Spain</span></li>
              </ul>
           </div>
        </div>
     </div>
     <div class="col m5 s12">
        <div class="right-signin">
           <div class="signup-button-desc">
              <p>Already have an account?</p>
              <a routerLink="../sign-in">Sign In</a>
           </div>
           <div class="inner-singin-detail">
              <div class="singin-logo">
                 <img src="../../../../assets/images/logo.png">
              </div>
              <div class="signin-heading-desc">
                 <h3>Get started with IDAT.</h3>
                 <p>Fill out form below, or sign up using social media.</p>
              </div>
              <div class="signin-form">
                 <form>
                      <div class="custom-form">
                         <label for="email">Email Address</label>
                         <input placeholder="example@gmail.com" id="email" type="email" class="validate">
                      </div>
                      <div class="custom-form">
                         <label for="password">Password</label>
                         <input placeholder="6-12 characters" id="password"  type="password" class="validate" maxlength="12" minlength="6">
                      </div>
                      <div class="signin-btn">
                         <input type="submit" (click)="onSignUp()" name="SignIn" value="Continue">
                      </div>
                 </form>
              </div>
              <div class="signup-social">
                 <p>By clicking 'Continue' i agree with IDAT's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p>
               </div>
               <div class="bg-line">
                  <p>Or sign up with</p>
               </div>
              
              <div class="row social-btns">
                 <div class="col m6 s6 right-align">
                    <a routerLink="../home">
                       <img src="../../../../assets/images/facebook-icon.png">
                    </a>
                 </div>
                 <div class="col m6 s6">
                    <a routerLink="../home">
                       <img src="../../../../assets/images/twitter-icon.png">
                    </a>
                 </div>
             </div>
           </div>
        </div>
     </div>
  
</div>
  
</div>