<div class="col l10 m9 s9">
    <div class="logout-content">
      <div class="row">
        <div class="col m12">
          <div class="logout-heading">
            <h2>Welcome to your Tings, John Doe!</h2>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col l2 m1"></div>
        <div class="col l4 m5 s12">
          <div class="logout-gallery">
            <a href="#">Gallary of Tings</a>
          </div>
        </div>
        <div class="col l4 m5 s12">
          <div class="logout-new">
            <a href="#">New</a>
          </div>
        </div>
        <div class="col l2 m1"></div>
      </div>
    </div>
</div>