<div class="col l10 m9 s12">
  <div class="gallery-tings my-settings-page">
    <div class="row m-0">
      <div class="col m12">
        <div class="galery-heading">
          <h2>Update Password</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m4 s12">
        <div class="update-password">
           <div class="signin-heading-desc">
              <p>Password should be:<br>
                -Be At least 8 characters long<br>
                -Contain at least one capital letter<br>
                -Contain at least one number digit</p>
           </div>
           <div class="signin-form">
              <form>
                    <div class="custom-form">
                      <label for="new-password">Type your current password</label>
                      <input placeholder="6-12 characters" id="new-password" type="password" class="validate" maxlength="12" minlength="6">
                   </div>
                   <div class="custom-form">
                      <label for="new-password">Create a new Password</label>
                      <input placeholder="6-12 characters" id="new-password" type="password" class="validate" maxlength="12" minlength="6">
                   </div>
                   <div class="custom-form">
                      <label for="repeat-password">Repeat new Password</label>
                      <input placeholder="6-12 characters" id="repeat-password" type="password" class="validate" maxlength="12" minlength="6">
                   </div>
                   <div (click)="onSave()" class="update-pass-save left">
                      <input type="submit" name="SignIn" value="Save">
                   </div>
                   <div (click)="onCancel()" class="update-pass-cancel left">
                      <input type="submit" name="SignIn" value="Cancel">
                   </div>
              </form>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>