<div class="col l10 m9 s12">
  <div class="dashboard">
    <div class="row">
      <div class="col l10 m8 s6">
        <div class="galery-heading gallery-search">
          <h2>Organizations</h2>
        </div>
      </div>
      <div class="col l2 m4 s6">
        <div class="add-invitation-link">
          <a href="#add-organizations" class="modal-trigger">Add Organizations</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m12 s12">
        <div class="request-table accounts">
          <table>
            <thead>
              <tr>
                  <th>Name</th>
                  <th></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><strong>Bystander</strong></td>
                <td><div class="go-to"><a href="javascript:">Go to</a></div></td>
              </tr>
              <tr>
                <td><strong>Himschoot Consulting bvba</strong></td>
                <td><div class="go-to"><a href="javascript:">Go to</a></div></td>
              </tr>
              <tr>
                <td><strong>M/V White Rose of Drachs</strong></td>
                <td><div class="go-to"><a href="javascript:">Go to</a></div></td>
              </tr>
              <tr>
                <td><strong>Sea ID Ltd</strong></td>
                <td><div class="go-to"><a href="javascript:">Go to</a></div></td>
              </tr>
              <tr>
                <td><strong>Seasystems Ltd</strong></td>
                <td><div class="go-to"><a href="javascript:">Go to</a></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add invitation Model Structure -->  
<div id="add-organizations" class="modal add-invitation delete-image">
  <div class="my-ting-heading">
      <h3>Add Organization</h3>
      <button type="button" class="close-wizard" onclick="$('#add-organizations').modal('close');"><img src="../../../../assets/images/close.png"></button>
  </div>
  <div class="modal-content my-ting-content">
    <div class="invitaion-inner">
      <form>
        <div class="custom-form">
          <label for="email">Name</label>
          <input placeholder="Type name" id="name" type="text" class="validate">
        </div>
        <div class="invitation-footer">

              <button class="left cancel-btn close-wizard" onclick="$('#add-organizations').modal('close');">Cancel</button>
              <button class="right invitation-btn" onclick="$('#add-organizations').modal('close');" (click)="onAddOrganization()">Add Organization</button>
           </div>
      </form>
    </div>
  </div>
</div>
<!-- Add invitation Model Structure -->