.custom-file-upload {
    border: 1px solid #D4D9E2;
    display: inline-block;
    padding: 10px 12px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    color: #394656;
    margin-bottom: 10px;
}

.tag-camera input[type="file"] {
    display: none;
}

.modal-content.my-ting-content {
    overflow-y: scroll;
    height: auto;
    max-height: 300px;
}
.my-ting-wizard {
    overflow: hidden;
}