<div class="col l10 m9 s12">
  <div class="logout-content">
    <div class="row">
      <div class="col m12 s12">
        <div class="logout-heading">
          <h2>Welcome to your Tings, John Doe!</h2>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col l2 m1"></div>
      <div class="col l4 m5 s12">
        <div class="logout-gallery">
          <a (click)="onGallery()">Gallery of Tings</a>
        </div>
      </div>
      <div class="col l4 m5 s12">
        <div class="logout-new">
          <a class="waves-effect waves-light modal-trigger" data-target="new" >New</a>
        </div>
      </div>
          <!-- Modal Structure -->
          <div id="new" class="modal my-ting-wizard">
              <div class="my-ting-heading">
                  <h3>New Ting</h3>
                  <a class="modal-close close-wizard"><img src="../../../assets/images/close.png"></a>
              </div>
               <div class="modal-content my-ting-content">
                 <div class="my-ting-tabs">
                    <div class="row">
                        <div class="col s12">
                          <ul class="tabs">
                            <li class="tab col s4"><a [class.active]="tabState == 1" (click)="tabState = 1" href="#tag"><span>01.</span>Add tag</a></li>
                            <li class="tab col s4"><a [class.active]="tabState == 2" (click)="tabState = 2"  href="#image"><span>02.</span>Add Image</a></li>
                            <li class="tab col s4"><a [class.active]="tabState == 3" (click)="tabState = 3"  href="#fields"><span>03.</span>Enter Fields</a></li>
                          </ul>
                        </div>
                        <div id="tag" class="col s12" *ngIf="tabState == 1">
                           <div class="add-tag">
                              <div class="row">
                                 <div class="col l3 m4 s12">
                                    <div class="tag-camera">

                                      <a [class.hide]="initIOSCam()" routerLink="../../../qr-scanner">Add From Camera</a>
                                      
                                      <!-- <label for="file-upload" class="custom-file-upload">
                                        Add From Camera
                                        <input id="file-upload" type=file
                                              accept="image/*"
                                              capture=environment
                                              onchange="openQRCamera(this);"
                                              tabindex=-1 />
                                      </label>
                                       -->
                                    </div>
                                 </div>
                                 <div class="col l3 m4 s12">
                                  <div class="tag-camera">
                                    <label for="gallery-upload" class="custom-file-upload">
                                      Add From Gallery
                                      <input id="gallery-upload" 
                                            type=file
                                            accept="image/*"
                                            (change)="onImageScan($event)"
                                            value="Decode"
                                          >
                                          <a style="display: none" id="linkid" #winOpen href="" onclick="redirect()"></a>
                                    </label>
                                    
                                  </div>
                                 </div>
                                 <div class="col l3 m4 s12">
                                    <div class="tag-camera disable">
                                       <a href="javascript:">Add From NFC</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">

                                 <div class="custom-form col s12">
                                    <label for="link">Your Link</label>
                                    <a href="javascript:" class="dlt-tag">Delete tag</a>
                                    <input id="link" type="text" [value]="(decryptedLink) ? decryptedLink : ''" class="validate">
                                  </div>
                              </div>
                                <div class="tag-footer">
                                   <div class="continue-btn">
                                      <button (click)="onTabSwitch()">Continue</button>
                                   </div>
                                </div>
                           </div>
                           
                        </div>
                        <div id="image" class="col s12" *ngIf="tabState == 2">
                           <div class="add-image">
                              <div class="row">
                                 <div class="col m7 s12">
                                    <div class="drag-image">
                                       <p>Drag a photo here</p>
                                       <span>or.</span>
                                       <div class="row">
                                          <div class="col m6 s12">
                                             <div class="tag-camera">
                                              <a [class.hide]="initIOSCam()" routerLink="../../../qr-scanner">Add From Camera</a>
                                             </div>
                                          </div>
                                          <div class="col m6 s12">
                                            <div class="tag-camera">
                                              <label for="gallery-upload" class="custom-file-upload">
                                                Add From Gallery
                                                <input id="gallery-upload" 
                                                      type=file
                                                      accept="image/*"
                                                      (change)="onImageScan($event)"
                                                      value="Decode"
                                                >
                                              </label>
                                            </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col m5 s12">
                                    <div class="add-image-display" *ngFor="let source of sources; let i = index;">
                                       <div class="image-diaply">
                                          <img width="30" height="30" :src="{{source.src}}" id="gallery-img-tag">
                                       </div>
                                       <div class="image-display-desc">
                                          <span>{{source.name}} {{++i}}</span>
                                          <img (click)="onRemoveSource(i)" src="../../../assets/images/close-small.png">
                                          <div class="progress">
                                               <div class="determinate" style="width: 60%"></div>
                                           </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="tag-footer">
                                   <div class="continue-btn">
                                      <button (click)="onTabSwitch()">Continue</button>
                                      <a href="javascript:" (click)="onPrevTab()"><i class="fas fa-arrow-left"></i>Return to previous step</a>
                                   </div>
                                </div>
                           </div>
                        </div>
                        <div id="fields" class="col s12" *ngIf="tabState == 3">
                           <div class="enter-fields">
                              <div class="row">
                                 <div class="col m5 s12">
                                    <div class="field-entry">
                                      <div class="feild-heading">
                                         <p>Feilds Entry</p>
                                      </div>
                                      <div class="field-box">
                                         <div class="input-field-box">
                                            <input type="text" name="information" value="" placeholder="Enter field information">
                                            <button>+ Add</button>
                                         </div>
                                         <div class="field-list-items">
                                            <ul>
                                               <li>Language</li>
                                               <li>Classification</li>
                                               <li>Description</li>
                                               <li>Manufacturer</li>
                                               <li>Language</li>
                                               <li>Classification</li>
                                               <li>Description</li>
                                               <li>Manufacturer</li>
                                               <li>Language</li>
                                               <li>Classification</li>
                                               <li>Description</li>
                                               <li>Manufacturer</li>
                                            </ul>
                                         </div>
                                         <div class="create-field-btn">
                                            <button>Create field</button>
                                         </div>
                                      </div> 
                                    </div>
                                 </div>
                                 <div class="col m7 s12">
                                    <div class="field-entries">
                                       <div class="feild-heading">
                                         <p>Your Feilds Entries</p>
                                      </div>
                                      <div class="row">
                                         <div class="col m6">
                                            <div class="field-entry-list-left">
                                               <p>Classification</p>
                                               <p>Manufacturer</p>
                                               <div class="tag-camera">
                                                   <a href="javascript:">Edit Field Entries</a>
                                               </div>
                                            </div>
                                         </div>
                                         <div class="col m6">
                                            <div class="field-entry-list-right">
                                               <p>Pump</p>
                                               <p>Whale</p>
                                            </div>
                                         </div>
                                      </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="tag-footer">
                                   <div class="continue-btn">
                                      
                                      <button  (click)="onSave()">Save</button>
                                      <a href="javascript:" (click)="onPrevTab()"><i class="fas fa-arrow-left"></i>Return to previous step</a>
                                   </div>
                                </div>
                           </div>
                        </div>
                    </div>
                 </div>
               </div>
           </div>
      <div class="col l2 m1"></div>
    </div>
  </div>
</div>



<!-- Move to Model Structure -->  
<div id="move-to" class="modal delete-confirm delete-image">
  <div class="my-ting-heading">
      <h3>Move to Group</h3>
      <button type="button" class="close-wizard" onclick="$('#move-to').modal('close');"><img src="../../../../assets/images/close.png"></button>
  </div>
  <div class="modal-content my-ting-content">
    <div class="confirm-delete-inner move-to-inner">
      <p>Do you wish to add your Ting to a Group?</p>
      <div class="move-to-box">
        <h2><i class="fas fa-folder-open"></i>John Doe</h2>
        <ul>
          <h2><i class="fas fa-folder-open"></i>perosnal tings</h2>
          <li><i class="fas fa-folder"></i>Cabin</li>
          <li><i class="fas fa-folder"></i>House</li>
        </ul>
        <ul>
          <h2><i class="fas fa-folder-open"></i>Fleet</h2>
          <li><i class="fas fa-folder"></i>HMS Bounty <span>(default)</span></li>
          <li><i class="fas fa-folder"></i>QE2</li>
        </ul>
      </div>
      <button type="button" class="cancel-btn" onclick="$('#move-to').modal('close');">Cancel</button>
      <button type="button" class="delete-btn" (click)="onSave()">Save</button>
    </div>
  </div>
</div>
<!-- Move to Model Structure -->