<div class="col l10 m9 s12">
  <div class="gallery-tings group-detail">
    <div class="row">
      <div class="col m12">
        <div class="galery-heading">
          <!-- <h2><a href="groups">My Groups &nbsp ></a> <span>Fleet A</span></h2> -->
          <app-breadcrumb></app-breadcrumb>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col l7 m12 s12">
        <div class="row">
          <div class="col m4 s6" *ngFor="let group of subGroups" (contextmenu)="onRightClick($event)">
            <a class="my-group-box personal" >
              <img src="../../../../assets/images/default.png">
              <p>{{group}}</p>
            </a>
            <div class="my-group-hide-box-personal" style="display: none;">
              <ul>
                <li><a href="#">Rename</a></li>
                <li><a href="#">Make Default</a></li>
                <li><a href="#" data-target="confirm-delete" class="modal-trigger">Delete</a></li>
              </ul>
            </div>
          </div>
          <div class="col m4 s6">
            <div class="create-group-box">
              <a href="#add-group" class="modal-trigger">Create group</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m12 s12">
            <div class="group-detail-heading">
              <h2>Tings</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col m4 s6">
            <a (click)="onTingDetail()" class="product-image">
              <div class="gallery-image-widget">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
            <div class="my-group-hide-box-fleet" style="display: none;">
              <ul>
                <li><a href="#" data-target="move-to" class="modal-trigger">Move to</a></li>
                <li><a href="#" data-target="confirm-delete" class="modal-trigger">Delete from Group</a></li>
              </ul>
            </div>
            <!-- Delete Model Structure -->  
              <div id="confirm-delete" class="modal delete-confirm delete-image">
                <div class="my-ting-heading">
                    <h3>Deleting group</h3>
                    <button type="button" class="close-wizard" onclick="$('#confirm-delete').modal('close');"><img src="../../../../assets/images/close.png"></button>
                </div>
                <div class="modal-content my-ting-content">
                  <div class="confirm-delete-inner">
                    <p>Are you sure you want to delete this group?</p>
                    <button type="button" class="cancel-btn" onclick="$('#confirm-delete').modal('close');">Cancel</button>
                    <button type="button" class="delete-btn">Delete</button>
                  </div>
                </div>
              </div>
              <!-- Delete Model Structure -->

              <!-- Move to Model Structure -->  
              <div id="move-to" class="modal delete-confirm delete-image">
                <div class="my-ting-heading">
                    <h3>Move to Group</h3>
                    <button type="button" class="close-wizard" onclick="$('#move-to').modal('close');"><img src="../../../../assets/images/close.png"></button>
                </div>
                <div class="modal-content my-ting-content">
                  <div class="confirm-delete-inner move-to-inner">
                    <p>Do you wish to add your Ting to a Group?</p>
                    <div class="move-to-box">
                      <h2><i class="fas fa-folder-open"></i>John Doe</h2>
                      <ul>
                        <h2><i class="fas fa-folder-open"></i>perosnal tings</h2>
                        <li><i class="fas fa-folder"></i>Cabin</li>
                        <li><i class="fas fa-folder"></i>House</li>
                      </ul>
                      <ul>
                        <h2><i class="fas fa-folder-open"></i>Fleet</h2>
                        <li><i class="fas fa-folder"></i>HMS Bounty <span>(default)</span></li>
                        <li><i class="fas fa-folder"></i>QE2</li>
                      </ul>
                    </div>
                    <button type="button" class="cancel-btn" onclick="$('#move-to').modal('close');">Cancel</button>
                    <button type="button" class="delete-btn">Save</button>
                  </div>
                </div>
              </div>
              <!-- Move to Model Structure -->
          </div>
          <div class="col m4 s6">
            <a (click)="onTingDetail()">
              <div class="gallery-image-widget">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col m4 s6">
            <a (click)="onTingDetail()">
              <div class="gallery-image-widget">
                <img src="../../../../assets/images/gallery-image.png">
                <div class="gallery-img-desc">
                  <div class="left">
                    <p>Class</p>
                    <p>DOB</p>
                  </div>
                  <div class="right">
                    <p>Pump</p>
                    <p>12/1/18</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div> 
    
  </div>
</div>


<!-- Move to Model Structure -->  
<div id="add-group" class="modal delete-confirm delete-image">
  <div class="my-ting-heading">
      <h3>Add Group</h3>
      <button type="button" class="close-wizard" onclick="$('#add-group').modal('close');"><img src="../../../../assets/images/close.png"></button>
  </div>
  <div class="modal-content my-ting-content">
    <div class="confirm-delete-inner move-to-inner">
      <form>
        <div class="custom-form">
           <input placeholder="" id="email" type="text" class="validate">
        </div>
      </form>
      <button type="button" class="cancel-btn" onclick="$('#add-group').modal('close');">Cancel</button>
      <button type="button" class="delete-btn">OK</button>
    </div>
  </div>
</div>
<!-- Move to Model Structure -->
