<div class="col l10 m9 s12">
  <div class="dashboard">
    <div class="row">
      <div class="col m12 s12">
        <div class="galery-heading gallery-search">
          <h2>Tags</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m12 s12">
        <div class="request-table accounts">
          <table class="responsive-table">
            <thead>
              <tr>
                  <th>Identifer</th>
                  <th>Type</th>
                  <th>Action</th>
                  <th></th>
                  <th></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><strong>2a01:7e01::f03c:91ff:feb0:2e10</strong></td>
                <td>ipv6, unknown tag type</td>
                <td>Ting</td>
                <td>TingID#15 <br>Fire extinguisher port fwd #47</td>
                <td><div class="go-to"><a href="javascript:" data-target="edit-tag" class="modal-trigger">Edit</a></div></td>
              </tr>
              <tr>
                <td><strong>2a01:7e01::f03c:91ff:feb0:2e10</strong></td>
                <td>shortcode, tag type ID 3</td>
                <td>redirect</td>
                <td>TingID#15 <br>Fire extinguisher port fwd #47</td>
                <td><div class="go-to"><a href="javascript:" data-target="edit-tag" class="modal-trigger">Edit</a></div></td>
              </tr>
              <tr>
                <td><strong>2a01:7e01::f03c:91ff:feb0:2e10</strong></td>
                <td>ipv6, unknown tag type</td>
                <td>Ting</td>
                <td>TingID#15 <br>Fire extinguisher port fwd #47</td>
                <td><div class="go-to"><a href="javascript:" data-target="edit-tag" class="modal-trigger">Edit</a></div></td>
              </tr>
              <tr>
                <td><strong>2a01:7e01::f03c:91ff:feb0:2e10</strong></td>
                <td>ipv6, unknown tag type</td>
                <td>Ting</td>
                <td>TingID#15 <br>Fire extinguisher port fwd #47</td>
                <td><div class="go-to"><a href="javascript:" data-target="edit-tag" class="modal-trigger">Edit</a></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>