<div class="col l10 m9 s12">
  <div class="gallery-tings my-field-page">
  <div class="row">
    <div class="col l4 m6 s12">
      <div class="field-box">
        <input type="text" name="Classification" value="" placeholder="Classification">
       <div class="input-field-box">
          <input type="text" name="NewName" [(ngModel)]="newField" value="" placeholder="New Name">
          <button (click)="onAdd()">+ Add</button>
       </div>
       <div class="field-list-items">
          <ul>
             <li *ngFor="let field of fields; let i = index">{{field}} <span class="my-group-box personal my-fields-list" (contextmenu)="onOptions(i)">...</span></li>
          </ul>
       </div>
      </div>
    </div>
  </div>

  <div class="my-group-hide-box-personal" style="display: none;">
    <ul>
      <li><a href="#">Edit</a></li>
      <li><a href="#" data-target="confirm-delete" class="modal-trigger">Delete</a></li>
    </ul>
  </div>
  <!-- Delete Model Structure -->  
    <div id="confirm-delete" class="modal delete-confirm delete-image">
      <div class="my-ting-heading">
          <h3>Deleting group</h3>
          <button type="button" class="close-wizard" onclick="$('#confirm-delete').modal('close');"><img src="../../../../assets/images/close.png"></button>
      </div>
      <div class="modal-content my-ting-content">
        <div class="confirm-delete-inner">
          <p>Are you sure you want to delete this group?</p>
          <button type="button" class="cancel-btn" onclick="$('#confirm-delete').modal('close');">Cancel</button>
          <button type="button" class="delete-btn" (click)="onDelete()" onclick="$('#confirm-delete').modal('close');">Delete</button>
        </div>
      </div>
    </div>
    <!-- Delete Model Structure -->
    
  </div>
</div>